
    <div class="row" ng-controller="SettingsCtrl">

        <div>
            <h3>{{settingsPage.settingsLabel | uppercase}}</h3>

            <app-highlight></app-highlight><br>

            <div app-highlight=""></div>

            <div class="app-highlight"></div>

            <!-- directive: app_PSUJE_highlight -->

        </div>

    </div>
    <hr>


    <input type="text" ng-model="zmienna">
    <input type="text" ng-model="mess">
    <app-alert message="Wystapil blad" type="danger" on-dismiss="zmienna = 1; mess = 'my mess 1'"></app-alert>
    <app-alert message="Brak wiadomosci" type="info" on-dismiss="zmienna = 2; mess = 'my mess 2'"></app-alert>
    <app-alert message="Wiadomosc wyslana" type="success" on-dismiss="zmienna = 3; mess = 'my mess 3'"></app-alert>
  
  
    <hr>


    
     