<div class="row" ng-controller="TasksCtrl">

    <div class="col-6">
      <div class="col mb-5">
        <label>Find: </label>
        <input  placeholder="find element" ng-model="findItem" ng-change="findPosition(findItem)">
      </div>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="item in tasks" ng-click="markItem(item.id)" ng-class="{'active': item.id === task.id, 'done': item.completed === true}">
          <div class="row">
            <div class="col-6">{{$index+1}}. {{item.name}}</div>
            <div class="col-6 text-end" >
              <button class=" btn btn-warning" ng-click="delPosiion(item.id)">Usuń</button>
            </div>
          </div>
        </div>

        <div class="col-12 text-end mt-5" >
          <button class=" btn btn-success" ng-click="addPosiion()" >Dodaj nowy</button>
        </div>
        <div class="col-12 text-end mt-5" >
            <p>Ukończone: {{finished}}</p>
        </div>
        <div class="col-12 text-end mt-5" >
          <p>Do wykonania: {{notFinished}}</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="col" ng-show="mode === 'show'">
        <dl>
          <dt>Name:</dt>
          <dd>{{task.name}}</dd>
          <dt>Complited:</dt>
          <dd>{{task.completed? "yes":"no"}}</dd>
          <button ng-click="editForm()" class="btn btn-info">Edit</button>
        </dl>
      </div>
      <div class="col">
        <form ng-show="mode === 'edit'">
          <div class="form-group mb-3">
            <label for="task_name">Name</label>
            <input
              id="task_name"
              type="text"
              class="form-control"
              ng-model="taskNew.name"
              ng-keypress="saveFormEvent($event)"
            />
          </div>
          <div class="form-group mb-3">
            <label for="task_completed">
              <input
                id="task_completed"
                type="checkbox"
                ng-model="taskNew.completed"
              />
              Completed</label>
          </div>
          <button ng-click="hideForm()" class="btn btn-danger">
            Cancel
          </button>
          <button ng-click="saveForm()" class="btn btn-warning" >
            Save
          </button>
        </form>
      </div>
    </div>
</div>

