<users-page></users-page>
      
      
      
      <!-- <div class="row" ng-controller="UsersCtrl">
        <div class="col mb-5" >
          <h1>Angular {{title}}</h1>

          <div class="list-group-item" ng-repeat="user in usersPage.users">
            <div class="row">
              <div class="col">{{$index+1}}.</div>
              <div class="col">ID: {{user.id}}</div>
              <div class="col">User name: {{user.username}}</div>
              <div class="col-6 text-end" >
                <button class=" btn btn-success" ng-click="usersPage.select(user.id)">Wybierz</button>
              </div>
            </div>
          </div>
          <div class="col text-center m-5">
            <button ng-click="usersPage.add()" class="btn btn-primary" >
              Add new
            </button>  
          </div>

          <div class="col-6" ng-model="editShow" ng-show="usersPage.editShow === true">
            <div class="col">
              <form name="usersPage.form" novalidate>
                <div class="form-group mb-3">
                  <label for="task_name">User name</label>
                  <input
                    id="task_name"
                    type="text"
                    class="form-control"
                    ng-model="usersPage.selected.username"
                    ng-keypress="usersPage.saveFormEvent($event)"
                    ng-change="findPosition(usersPage.uselected.id)"
                    required minlength="3"
                    name="name"
                    
                  />
                </div>
                <div ng-if="usersPage.form['name'].$dirty || usersPage.form['name'].$touched || usersPage.form.$submitted">
                  <p class="text-danger" ng-if="usersPage.form['name'].$error.minlength">Name is too short!</p>
                  <p class="text-danger" ng-if="usersPage.form['name'].$error.required">Name is required!</p>
                </div>
                <button ng-click="usersPage.delete(usersPage.selected.id)" class="btn btn-danger">
                  Cancel
                </button>
                <button ng-click="usersPage.save(usersPage.selected.id, usersPage.selected.username)" class="btn btn-warning" >
                  Save
                </button>



                <pre>{{usersPage.form | json:2}}</pre>
              </form>
            </div>
          </div>


         


        </div>

        <div class="alert_div" ng-model="usersPage.messText" ng-show="usersPage.showMessage === true">
          
          <p class="mt-5">{{usersPage.messText}}</p>
          <button ng-click="usersPage.closeMess()" class="btn btn-success mt-5" >
            OK
          </button>
        </div>
    </div>
      -->