
  <div class="container" ng-controller="TasksCtrl">
    <div class="row">
      <div class="col">
        <h3>Tasks</h3>
      </div>
    </div>
    <div class="row" <div class="col">
      <!-- .list-group>.list-group-item*3{$.Task $$} -->

      <div class="form-group">
        <input type="search" class="form-control" ng-model="query" placeholder="Filter tasks"
          ng-change="changeQuery(query)">
      </div>
      <div class="list-group">
        <div class="list-group-item" ng-class=" { 
                'active': item.id == selectedTask.id,
                'task-completed': item.completed
              } " ng-click="select(item)" ng-repeat="item in filtered">
          <input type="checkbox" ng-checked="item.completed" ng-click="toggleCompleted(item)">
          <span ng-style="{'text-decoration':
            item.completed? 'line-through':''}"> {{$index+1}}. {{item.name}}</span>
          <span class="float-end close" ng-click="remove(item.id)">&times;</span>
        </div>
      </div>

      <div class="my-4">
        total: {{counts.total}}
        completed: {{counts.completed}}
      </div>

      <div class="form-group mt-3">
        <label for="">Fast Task</label>
        <input type="text" class="form-control" ng-model="fastTaskName" placeholder="Type name and press Enter"
          ng-on-keyup="$event.key == 'Enter' && addTask(fastTaskName)">
      </div>


    </div>
    <div class="col">

      <div ng-if="mode === 'show' ">
        <dl>
          <dt>Name:</dt>
          <dd>{{selectedTask.name}}</dd>

          <dt>Completed:</dt>
          <!-- <dd>{{selectedTask.completed? 'Yes':'No'}}</dd> -->
          <dd>{{selectedTask.completed | yesno | uppercase }}</dd>

          <button class="btn btn-info" ng-click="edit()">Edit</button>
        </dl>
      </div>

      <form ng-if="mode === 'edit'">
        <!-- .form-group>label{Name}+input.form-control -->

        <!-- <input type="text" ng-model="$parent.placki" > -->

        <div class="form-group mb-3">
          <label for="task_name">Name</label>
          <input id="task_name" type="text" class="form-control" ng-model="draft.name">
        </div>

        <div class="form-group mb-3">
          <label for="task_completed">
            <input id="task_completed" ng-model="draft.completed" type="checkbox"> Completed</label>
        </div>

        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="save()">Save</button>
      </form>
    </div>
  </div>