<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <script src="node_modules/angular/angular.js" defer></script>
    <script src="src/tasks/tasks.js" defer></script>
    <script src="src/users/users.js" defer></script>
    <script src="src/settings/settings.js" defer></script>
    <script src="src/index.js" defer></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-controller="AppCtrl">

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tasks app</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" ng-mode="currentPage" ng-click="changePage(0)" href="#">Tasks</a>
              <a class="nav-link" ng-mode="currentPage"  ng-click="changePage(1)" href="#">User</a>
              <a class="nav-link" ng-mode="currentPage"  ng-click="changePage(2)" href="#">Settings</a>
            </div>
          </div>
          <div ng-if="isWisible === 'user'">
            <span>Welcome {{ user.name }}, </span>
            <span ng-click=" login() " ng-hide=" isLoggedIn ">Login</span>
            <span ng-click=" logout() " ng-show=" isLoggedIn ">Logout</span>
            <input
              type="text"
              ng-model=" user.ame "
              ng-hide=" selected.name == 'Guest' "
            />
        </div>
        </div>
      </nav>
    </header>
    
    <div class="container mt-5" ng-include=" currentPage.url "></div> 
  </body>
</html>
