.done{
    text-decoration: line-through;
    background-color: gray;
}

.alert_div{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: lightgrey;
    border: 1px solid rgb(153, 147, 147);
    border-radius: 2%;
    text-align: center;
    margin: 25%;
}

.alert_div p{
    margin: auto;
}

form .ng-submitted, form .ng-invalid.ng-dirty, .ng-invalid.ng-touched{
    border-color: red;
}

form .ng-submitted form .ng-valid.ng-dirty, form .ng-valid.ng-touched{
    border-color: rgb(60, 143, 43);
}

.mouse-cursor{
    cursor: pointer;
}